[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
torch = "*"
torchvision = "*"
requests = "*"
matplotlib = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.7"
