[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
torch = "*"
torchvision = "*"
requests = "*"
matplotlib = "*"
jupyter = "*"
six = "*"
numpy = "*"
scipy = "*"
pillow = "*"
scikit-image = "*"
opencv-python = "*"
imageio = "*"
shapely = "*"
imgaug = "*"
pytesseract = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
